[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "modules/openzeppelin-contracts"]
	path = modules/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = v4.8.1
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
